NEXT_PUBLIC_SUPABASE_URL=https://lmgerjsoewapfmuxmlpl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_L0CRp6sKuyCGqjNBm9uAaw_TSRzYSmj
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_PRICE_STARTER=price_xxx
STRIPE_PRICE_GROWTH=price_xxx
STRIPE_PRICE_PRO=price_xxx
NEXT_PUBLIC_APP_URL=https://shopwires.vercel.app
CRON_SECRET=make_a_long_random_string_here
